.hero_area {
  position: relative;
}

.sub_page .hero_area {
  height: auto;
}

.sub_page .header_section {
  margin-top: 0;
}

.header_section .header_top {
  padding: 15px 0;
  background-color: #ED531F;
}

.header_section .header_top .contact_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_section .header_top .contact_nav .rightside {
  margin-left: auto;
  text-align: right;
}

.header_section .header_top .contact_nav a {
  margin-right: 25px;
  color: white;
  /* Changed to black */
  text-decoration: none;
}

.header_section .header_top .contact_nav a i {
  color: white;
  /* Changed to black */
  font-size: 14px;
  margin-right: 5px;
}

.email-image {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 6px;
}

.header_section .header_bottom {
  background-color: transparent;
}

.header_section .header_bottom.with-bg {
  background-color: white;
}

.header_section .header_bottom .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.navbar-brand {
  background-color: transparent;
  padding: 15px 35px;
  color: white;
}

.navbar-brand img {
  width: 100px;
}

.custom_nav-container {
  /* background-color: aqua; */
  padding: 0;
  padding-left: 50px;
}

.custom-button {
  position: absolute;
  background-color: #ED531F;
  font-size: 13px;
  border: none;
  border-radius: 3px;
  padding: 10px 25px;  
  margin-top: -8px;  
  cursor: pointer;
  transition: background-color 0.3s ease;
   right: 120px;
  color: white;
  flex-grow: 0; /* Prevents button from growing */
}


/* .custom-button:hover {
 }

.custom-button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
} */


/* .custom_nav-container .navbar-nav{
  margin-left: 200px;
  } */
.custom_nav-container .navbar-nav {
  margin-left: 150px;
   margin-top: 10px;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 0px 2px 0px 12px;
  margin: 0px 1px 1px 12px;
  color: white;
  text-align: right;
   font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before,
.custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before,
.custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-1 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: 0;
  margin-bottom: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-2 {
  display: none;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-3 {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin: 0;
  margin-top: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-1,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-2,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-3 {
  -webkit-transform: none;
  transform: none;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link {
  color: black;
  /* Changed to black */
}

.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  color: black;
  /* Changed to black */
}

.custom_nav-container .nav_search-btn:hover {
  color: black;
  /* Changed to black */
}

.custom_nav-container .navbar-toggler {
  outline: none;
  padding: 0;
  width: 37px;
  height: 42px;
  border: none;
  transition: background-color 0.3s;
}

.custom_nav-container .navbar-toggler:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: black;
  /* Changed to black */
  margin: 7px 0;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.custom_nav-container .navbar-toggler:hover span {
  background-color: black;
  /* Changed to black */
}

.quote_btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.quote_btn-container a {
  color: black;
  /* Changed to black */
  margin-right: 25px;
  text-transform: uppercase;
}

.quote_btn-container a span {
  margin-left: 5px;
}

.quote_btn-container a:hover {
  color: #252525;
}