/* SplashScreen.css */
.splash-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b51919; /* or any other color */
    z-index: 9999;
    opacity:0.4;
    background-color: transparent;
  }
  
  .splash-logo {
    width: 400px;
    height: 400px;
    animation: slide-horizontal 3s infinite;
  }
  
  @keyframes slide-horizontal {
    0% {
      transform: translateX(100vh);
    }
    100% {
      transform: translateX(-100vh); /* Adjust the value to control the distance */
    }
    
  }
  