/* 
.splash-screen {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:linear-gradient(#19717d, #ffff);
  filter: blur(2px);
}



.splash-logo {
  
  width: 20%;
  height: 20%;
  animation: slide-horizontal 3s;
  
  
}

@keyframes slide-horizontal {
  0% {
    transform: translateX(40vw);
  }

  50%{

    transform: translateX(0vw);

  }

  100% {
    transform: translateX(-38vw);
  }

} */

.splash-screen {
  /* position: relative; */
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.splash-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#19717d, #ffff);
  filter: blur(3px);
  z-index: 1;
}

.accident-logo {
  position: absolute;
  top: 25%;
  z-index: 2;
  width: 8%;
  height: 16%;
}

.splash-logo {
  position: relative;
  z-index: 2;
  width: 20%;
  height: 20%;
  animation: slide-horizontal 3s;
}

@keyframes slide-horizontal {
  0% {
      transform: translateX(40vw);
  }

  50% {
      transform: translateX(0vw);
  }

  100% {
      transform: translateX(-100vw);
  }
}

/* Uncomment for responsive adjustments
@media (max-width: 768px) {
.splash-logo {
  width: 30%;
}
}

@media (max-width: 480px) {
.splash-logo {
  width: 40%;
}
}
*/
